---
title: Theme Experiment
---

<div id="background"></div>

<main>
	<header>
		<h1>Portfolio</h1>
		
		<nav>
			<ul>
				<li>Japan</li>
				<li>Portraits</li>
				<li>Assorted</li>
			</ul>
		</nav>
	</header>
	
	<div class="gridcontainer">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	
	<footer>
		<p>&copy; Eric Akaoka</p>
	</footer>
</main>