---
title: Theme Experiment
---

<div id="background"></div>

<main>
	<header>
		<h1>Portfolio</h1>
		
		<nav>
			<ul>
				<li><a href="#">Japan</a></li>
				<li><a href="#">Portraits</a></li>
				<li><a href="#">Assorted</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="maingrid" class="gridcontainer">
		<ul>
			<li><div class="img" style="background-image: url(images/thumbs/1.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/2.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/3.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/4.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/5.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/6.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/7.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/8.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/9.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/10.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/11.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/12.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/13.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/14.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/15.jpg);"><a href="#"></a></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/16.jpg);"><a href="#"></a></div></li>
		</ul>
	</div>
	
	<footer>
		<ul>
			<li>&copy; Eric Akaoka</li>
			<li><a href="#">ericakaoka.com</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
		</ul>
	</footer>
</main>