---
title: Theme Experiment
---

<div id="background"></div>

<main>
	<header>
		<h1>Portfolio</h1>
		
		<nav>
			<ul>
				<li><a href="#">Japan</a></li>
				<li><a href="#">Portraits</a></li>
				<li><a href="#">Assorted</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="maingrid" class="gridcontainer">
		<ul>
			<li><div class="img" style="background-image: url(images/thumbs/1.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/2.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/3.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/4.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/5.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/6.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/7.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/8.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/9.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/10.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/11.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/12.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/13.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/14.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/15.jpg);"></div></li>
			<li><div class="img" style="background-image: url(images/thumbs/16.jpg);"></div></li>
		</ul>
	</div>
	
	<footer>
		<p>&copy; Eric Akaoka</p>
	</footer>
</main>