---
title: Theme Experiment
---

<main>
	<header>
		<h1>Eric Akaoka</h1>
	</header>
	
	<div id="content">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	
	<footer>
		<p>Footer!</p>
	</footer>
</main>